<!DOCTYPE>
<html>
<head>
	<title>Inventory xoxo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="lib/css/bootstrap.min.css">
	<script src="/lib/js/popper.min.js"></script>
	<script src="/lib/js/jquery-3.3.1.min.js"></script>
	<script src="/lib/js/bootstrap.min.js"></script>
	<script src="/lib/js/angular.js"></script>
	
	<link rel="stylesheet" href="lib/css/global.css">
	<link rel="stylesheet" href="lib/css/dashboard.css">
	<link rel="stylesheet" href="lib/css/font-awesome.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<!-- DATA-TABLES -->
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>  
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script> 
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/fh-3.1.4/datatables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">

	<!-- FLOATTHEAD -->
	<script src="/lib/js/jquery.floatThead.min.js"></script>

	<!-- chartJs -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/chartJs.bundle.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

	<!-- DATA TABLES -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

	<!-- Bootstrap Date-Picker Plugin -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.css"/>

	<link rel="shortcut icon" href="/lib/img/illu.cc" />

</head>