<!DOCTYPE>
<html>
<head>
	<title>Inventory xoxo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="lib/css/bootstrap.min.css">
	<script src="/lib/js/popper.min.js"></script>
	<script src="/lib/js/jquery-3.3.1.min.js"></script>
	<script src="/lib/js/bootstrap.min.js"></script>
	<script src="/lib/js/angular.js"></script>
	<link rel="stylesheet" href="lib/css/global.css">
	<link rel="stylesheet" href="lib/css/dashboard.css">
	<link rel="stylesheet" href="lib/css/font-awesome.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<!-- chartJs -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/chartJs.bundle.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

	<!-- DATA TABLES -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

	

	<link rel="shortcut icon" href="/lib/img/illu.cc" />

</head>