  <% include partials/header.ejs %>
	<div class="fluid-container">
		<div class="row content"><br><br>
    <div class="col-md-12">

	<div class="row">
	  		<h3 style="margin: 0 auto; margin-top: 1%;">AUGUST 2018 SUMMARY</h3>
	  	</div>
      <div class="row" style="margin-top: 1%;">
      	
        <div class="col-sm-3">
        	<div class="cstm-border">
        		<div class="circle-tile ">
	            <div class="circle-tile-heading dark-blue"><i class="fa fa-money fa-fw fa-3x"></i></div>
	            <div class="circle-tile-content ">
	              <div class="circle-tile-description text-faded"><b>SALES</b></div>
	              <div class="circle-tile-number text-faded "><small>&#8369;{{sale_amt}}</small></div><br>
	            </div>
	          </div>
        	</div>
          
        </div>
        <div class="col-sm-3" >
         <div class="cstm-border">
         	 <div class="circle-tile ">
	           <div class="circle-tile-heading red"><i class="fa fa-thumbs-down fa-fw fa-3x"></i></div>
	            <div class="circle-tile-content">
	              <div class="circle-tile-description text-faded"><b>DROP</b></div>
	              <div class="circle-tile-number text-faded "><small>&#8369;{{drop_amt}}</small></div><br>
	            </div>
	          </div>
         </div>
        </div>
        <div class="col-sm-3">
        	<div class="cstm-border">
        		<div class="circle-tile ">
	          <div class="circle-tile-heading green"><i class="fa fa-home fa-fw fa-3x"></i></div>
	            <div class="circle-tile-content">
	              <div class="circle-tile-description text-faded"><b>WAREHOUSE</b></div>
	              <div class="circle-tile-number text-faded "><small>{{stock}} / {{size}} ({{pcnt}} %)</small></div><br>
	            </div>
	          </div>
        	</div>
          
        </div>
        <div class="col-sm-3" >
        	<div class="cstm-border">
        		 <div class="circle-tile ">
	            <div class="circle-tile-heading orange"><i class="fa fa-book fa-fw fa-3x"></i></div>
	            <div class="circle-tile-content">
	              <div class="circle-tile-description text-faded"><b>TOTAL SUPPLY ACQUISITION</b></div>
	              <div class="circle-tile-number text-faded "><small>{{acqr_item}} items</small></div><br>
	            </div>
	          </div>
        	</div>
         
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 " style="margin: 1% auto; ">
          <h4 class="text-center">Sales Performance</h4>
          <canvas  id="line-chart" class="cstm-border" id="totalProducts" style="width:100%; height: 300px;"></canvas>
        </div>
      </div><br>

    </div>
  </div>

	</div>
	<script type="text/javascript">
    var d = new Date();
    var month = d.getMonth() + 1;
    var year = d.getFullYear();
	$(document).ready(function() {
		$('.addmodal').on('hidden.bs.modal', function(){
	        $(this).find('form')[0].reset();
	     });

	
	});
	var app = angular.module("myApp", []);

	app.controller("myCtrl", function($scope, $http){
    $scope.initDashboard = function(){
      
      
      $http({
        method: "POST",
        url: "/api/post/summary",
        data: JSON.stringify({
          month: month,
          year: year
        }),
        dataType: 'json',
        contentType: 'application/json'
      })
      .then(function(response){
        var info = response.data;
        info_chart = {
          sales: info.sales_vals,
          drop: info.drop_vals,
          pending: info.pend_vals
        }
        $scope.sale_amt = info.sales;
        $scope.drop_amt = info.drop;
        $scope.stock = info.stock;
        $scope.size = info.size;
        $scope.pcnt = Number((info.stock / info.size) * 100).toFixed(2);
        setChart(info_chart);
        console.log(response.data);
      });
    }
    $scope.initDashboard();
	});
  function setChart(data){
    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
        labels: ['January','February','March','April','May','June' ,'July','August','September','October', 'November', 'December'],
        datasets: [{ 
            data: data.sales,
            label: "Approved",
            borderColor: "green",
            fill: false
          }, { 
            data: data.drop,
            label: "Dropped",
            borderColor: "red",
            fill: false
          }, { 
            data: data.pending,
            label: "Pending",
            borderColor: "violet",
            fill: false
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: `Sales Performance for the year ${year}`  
        }
      }
    });
  }
	</script>
<% include partials/footer.ejs %>