<% include partials/header.ejs %>
	<div class="fluid-container">
		<div class="row">
				<h4 style="font-size: 160%; margin: 0 auto;">Order Monitoring</h4>	
		</div>
		<div class="row">
			<div class="col-md-4">
				<ul class="nav nav-tabs" style="border: none;">
					<li class="nav-item"><a data-toggle="tab" href="#pendingTab" class="nav-link active">Pending</a></li>
					<li class="nav-item"><a data-toggle="tab" href="#acceptedTab" class="nav-link">Approved</a></li>
					<li class="nav-item"><a data-toggle="tab" href="#droppedTab" class="nav-link">Dropped</a></li>
				</ul>
			</div>
			<div class="col-md-8">
				<div class="form-group" style="float: right; margin-top: 3px;">
					<button class="btn-default" style=" margin-right: 15px;" ng-click="refreshFilter()">
						Refresh
					</button>
					<div style="display: inline-block; margin-right: 20px;">
						<input ng-model="FilterFrom" ng-change="filterDate()"  type="text" class="datepicker" placeholder="Custom Period: From">
				    	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
					<div style=" display: inline-block; margin-right: 20px;">
						<input ng-model="FilterTo" ng-change="filterDate()" id="filterTO" type="text" class="datepicker" placeholder="Custom Period: To">
				    	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>	
		</div>
		
		<div class="row border">
			<div class="col-md-12" style="height: 460px; overflow-y: auto; ">
				<div class="tab-content">
				    <div id="pendingTab" class="tab-pane fade show active">
				      	<table  class="table table-hover table-striped dt">
							<thead>
								<tr>
									<th>Order Date</th>
									<th>Ref. Number</th>
									<th>Client</th>
									<th>Amount</th>
									<th>Order Status</th>
									<th>Agent</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in orders.p">
									<td>{{x.date}}</td>
									<td>{{x.ref_id}}</td>
									<td>{{x.cl_name}}</td>
									<td>{{x.amt}}</td>
									<td><div class="btn-group">
										  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    Action
										  </button>
										  <div class="dropdown-menu">
										    <a class="dropdown-item" ng-click="updateOrder(x.id, 'approve')">Approve</a>
										    <a class="dropdown-item" ng-click="updateOrder(x.id, 'drop')">Drop</a>
										  </div>
										</div>
									</td>
									<td>{{x.agent}}</td>
									<td><a href="" data-toggle="modal" data-target="#orderDetailsModal" ng-click="showOrderDetails(x.id, x.ref_id)">Details</a></td>
								</tr>
							</tbody>
						</table>
				    </div>


				    <div id="acceptedTab" class="tab-pane fade">
				      <table class="table table-hover table-striped dt">
							<thead>
								<tr>
									<th>Order Date</th>
									<th>Ref. Number</th>
									<th>Client</th>
									<th>Amount</th>
									<th>Agent</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="y in orders.a">
									<td>{{y.date}}</td>
									<td>{{y.ref_id}}</td>
									<td>{{y.cl_name}}</td>
									<td>{{y.amt}}</td>
									<td>{{y.agent}}</td>
									<td><a href="" data-toggle="modal" data-target="#orderDetailsModal" ng-click="showOrderDetails(y.id, y.ref_id)">Details</a>&#160
								<a href="" ng-click="purchaseOrder(y.id)">Export</a></td></td>
								</tr>
							</tbody>
						</table>	
				    </div>


				    <div id="droppedTab" class="tab-pane fade">
				    	<table class="table table-hover table-striped dt">
							<thead>
								<tr>
									<th>Order Date</th>
									<th>Ref. Number</th>
									<th>Client</th>
									<th>Amount</th>
									<th>Agent</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="z in orders.d">
									<td>{{z.date}}</td>
									<td>{{z.ref_id}}</td>
									<td>{{z.cl_name}}</td>
									<td>{{z.amt}}</td>
									<td>{{z.agent}}</td>
									<td><a href="" data-toggle="modal" data-target="#orderDetailsModal" ng-click="showOrderDetails(z.id, z.ref_id)">Details</a></td>
								</tr>
							</tbody>
						</table>
				    </div>
				  </div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="orderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document" style="max-width: 600px;">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Order Summary</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<div>
	      		<span style="color: blue;">{{selected_ref}}</span>
	      		<hr>
	      	</div>
	      	<div style="height: 320px; overflow-y: auto; overflow-x: hidden;">
		        <table class="table">
			    <thead class="thead-dark">
			      <tr>
			        <th>Product</th>
			        <th>Qty</th>
			        <th>ItemPrice</th>
			        <th>Total Price</th>
			      </tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="y in details.items">
			    		<td>{{y.name}}</td>
			    		<td>{{y.qty}}</td>
			    		<td>{{y.price}}</td>
			    		<td>{{y.subtotal}}</td>
			    	</tr>
			    </tbody>
			  </table>
			</div>
			<div><span>Delivery Charge: </span><span style="margin-left; color: green;">&#8369;{{details.del_charge}}</span></div>
	      </div>
	      <div class="modal-footer">
	      	<div>
	      		<span>Total Amount: &#8369;{{details.amt}}</span>
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>

	<script type="text/javascript">
		var dTable;
		$(document).ready(function() {
			$('.addmodal').on('hidden.bs.modal', function(){
		        $(this).find('form')[0].reset();
		     });

			// init datepicker
			$('.datepicker').datepicker({
				format: 'yyyy-mm-dd',
				endDate: '+0d',
		        autoclose: true
			});

		});
		var app = angular.module("myApp", []);

		app.controller("myCtrl", function($scope, $http){
			$scope.details = {};
			$scope.orders = {};
			// get 3 types of order in the db
			$scope.getOrderDetails = function(from = '', to =''){
				$scope.orders = {};
				if (dTable)
					dTable.destroy();
				$http.get(`/api/orders/pending?from=${from}&to=${to}`).then(function(response){
					$scope.orders.p = response.data;
					
					$http.get(`/api/orders/approved?from=${from}&to=${to}`).then(function(response){
						$scope.orders.a = response.data;
						console.log($scope.orders.a );
						$http.get(`/api/orders/dropped?from=${from}&to=${to}`).then(function(response){
							$scope.orders.d = response.data;
							angular.element(function() {
								//setDataTable();
								dTable = $('.dt').DataTable({
									paging: false,
									bInfo: false, 
									searching: false,
									order: []
								});
							});
						});
					});
				});
				
				
			}

			$scope.getOrderDetails();
			$scope.showOrderDetails = function(id, ref){
				$scope.details = {};
				$http.get("/api/order-summary/"+id).then(function(response){

					$scope.selected_ref = ref;
					$scope.details = response.data;
				});
			}

			$scope.updateOrder = function(oid, type){
				console.log(type);
				if(!confirm(type+" Selected Order?"))
					return;
				
				$http({
					method: "POST",
					url: "/api/post/approve-order",
					data: JSON.stringify({
						id: oid,
						type: type
					}),
					dataType: 'json',
					contentType: 'application/json'
				}).then(function(response){
					alert(response.data);
					$scope.getOrderDetails();
				})
			}

			$scope.purchaseOrder = function(oid){
				var callPrint = window.open('','print-window','height=400,width=600');
				$http.get('/api/po/'+oid).then(function(response){
					callPrint.document.write(response.data);
					callPrint.document.close();
					callPrint.focus();
				});
				
			}

			$scope.filterDate = function(){
				if ($scope.FilterFrom && $scope.FilterTo){
					var dfrom = new Date($scope.FilterFrom);
					var dto = new Date($scope.FilterTo);
					if (dto >= dfrom)
						$scope.getOrderDetails($scope.FilterFrom, $scope.FilterTo);
				}
			},
			$scope.refreshFilter = function(){
				$scope.FilterFrom = '';
				$scope.FilterTo = '';
				$scope.getOrderDetails();
			}
		});
		
	</script>
<% include partials/footer.ejs %>