<% include partials/header.ejs %>

	<div class="fluid-container">
		<div class="row border">
			<span style="margin: 1%; margin-left: 3%;">
				<button class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">Add New User</button>		
			</span>
		</div>
		<div class="row">
			<form name="UpdateComp" ng-submit="updateComp()" style="margin: 0 auto;">
				<h2>Company Profile</h2>
			  <div class="form-group">
			    <label>Company Name:</label>
			    <input type="text" class="form-control" maxlength="100" minlength="4" ng-model="set.name" required/>
			  </div>
			  <div class="form-group">
			    <label for="">Company Address:</label>
			    <input type="text" class="form-control" name="" maxlength="180" minlength="4" ng-model="set.addr" required/>
			  </div>
			  <div class="form-group">
			    <label for="">Company Number:</label>
			    <input type="text" class="form-control" name="" maxlength="25" minlength="6" ng-model="set.mobile" required/>
			  </div>

			  <div class="form-group">
			    <label for="">Company Email:</label>
			    <input type="email" class="form-control" name="" maxlength="100" minlength="4" ng-model="set.email" required/>
			  </div>
			  <div class="form-group">
			    <label for="">Warehouse Size:</label>
			    <input type="number" class="form-control" name="" min="200" ng-model="set.size" required/>
			  </div>
			  
			  <button type="submit" class="btn btn-default">SAVE</button>
			</form>
		</div>
	</div>
	<!-- Modal for Adding User-->
	<div class="modal fade addmodal" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	         <form name="newUser" ng-submit="addUser()">
			  <div class="form-group">
			    <label for="user_uname">User Login Name:</label>
			    <input type="text" class="form-control" name="user_uname" maxlength="100" minlength="4" ng-model="nuser.uname" required/>
			  </div>
			  <div class="form-group">
			    <label for="user_pword">User Password:</label>
			    <input type="password" class="form-control" name="user_pword" maxlength="100" minlength="6" ng-model="nuser.pword" required/>
			  </div>
			  <div class="form-group">
			    <label for="user_conf">Confirm Password:</label>
			    <input type="password" class="form-control" name="user_conf" maxlength="100" minlength="6" ng-model="nuser.conf" required/>
			  </div>

			  <div class="form-group">
			    <label for="user_fname">User Firstname:</label>
			    <input type="text" class="form-control" name="user_fname" maxlength="40" minlength="4" ng-model="nuser.fname" required/>
			  </div>
			  <div class="form-group">
			    <label for="user_lname">User Lastname:</label>
			    <input type="text" class="form-control" name="user_lname" maxlength="40" minlength="4" ng-model="nuser.lname" required/>
			  </div>

			  <div class="form-group">
			    <label for="client_mobile">User Mobile Number:</label>
			    <input type="text" class="form-control" name="user_mobile" minlength="5" maxlength="20" ng-model="nuser.mobile" required/>
			  </div>
			  <div class="form-group">
			    <label for="user_email">User Email:</label>
			    <input type="email" class="form-control" name="user_email" maxlength="60" ng-model="nuser.email" />
			  </div>
			  
			  <button type="submit" class="btn btn-default">SAVE</button>
			</form>
	      </div>
	      <div class="modal-footer">
	        
	      </div>
	    </div>
	  </div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.addmodal').on('hidden.bs.modal', function(){
		        $(this).find('form')[0].reset();
		     });
		});

		var app = angular.module("myApp", []);

		app.controller("myCtrl", function($scope, $http){
			$scope.nuser = {};
			$scope.set = {};

			// get company info
			$scope.getInfo = function(){
					$http.get('api/get-info').then(function(response){
					$scope.set = response.data;
				});
			}
			$scope.getInfo();

			// submit updated profile
			$scope.updateComp = function(){
				console.log($scope.set);
				$http({
				method: "POST",
				url: "/api/post/update-settings",
				data: JSON.stringify({data: $scope.set}),
				dataType: 'json',
				contentType: 'application/json'
				}).then(function(response){
					alert(response.data);
					$scope.getInfo();
				});
			}
			$scope.addUser = function(){
				console.log($scope.nuser);
				var data = $scope.nuser;
				console.log(data);
				if(data.pword != data.conf){
					alert ("Passwords does not match");
					return;
				}
				$http({
				method: "POST",
				url: "/api/post/add-user",
				data: JSON.stringify({data: $scope.nuser}),
				dataType: 'json',
				contentType: 'application/json'
			}).then(function(response){
				alert(response.data);
				$scope.nuser = {};
			});
			}
		});
	</script>
<% include partials/footer.ejs %>