<% include partials/header.ejs %>

		<div class="row" style="">
			<div class="col col-md-2  border" style="">
				<div style="margin: 3%;">
					<h5 style="display: inline-block; margin-right: 10%;">Product Lines</h5>
					<span><button class="btn"  data-toggle="modal" data-target="#addProdModal">+</button></span>
				</div>
				<div class="form-group" style="height: 470px; overflow-y: auto;">
					<ul class="list-group">
						<li ng-repeat="x in res" value="{{x.id}}" ng-click="getProducts(x.id, x.name);" class="line-list list-group-item {{active[x.name]}}">{{x.name}}</li>	
					</ul>
				</div>
			</div>
			<div class="col col-md-10  border" style="">
				<div style="height: 450px; width: 100%; overflow-y: auto; overflow-x: hidden;">
				<table class="table table-hover table-striped" style="margin-left: 2%; margin-right: 3%;">
					<thead> 
					 	<tr>
							<th>ID</th>
							<th>Product Name</th>
							<th style="min-width: 30%;">Description</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Actions</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in product_data">
							<td>{{x.prod_id}}</td>
							<td>{{x.name}}</td>
							<td>{{x.desc}}</td>
							<td>{{x.price}}</td>
							<td>{{x.qty}}</td>
							<td><a href="">Edit</a> &#160
								<a href=""> Delete</a></td>
							<td><input type="checkbox" ng-model="checked[x.prod_id.toString()][0]" ng-click="toggleProd(x.prod_id, x.name, x.price, x.qty)"></td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div style="margin-left: 2%; margin-top: 2%;">
				<div style="float: left;">
					<button  data-toggle="modal" data-target="#addProductModal">Add New {{selected_line_name}}</button>
					<button data-toggle="modal" data-target="#orderProdModal" ng-disabled="n < 1" ng-click="addOrders();">Order selected</button>
				</div>
			</div>
		</div>
		
	</div>

	<!-- Modal for Adding Product Line-->
	<div class="modal fade addmodal" id="addProdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Add Product line</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	         <form name="addProdForm" ng-submit="addProdLine()">
			  <div class="form-group">
			    <label for="prod_name">Product Line Name:</label>
			    <input type="text" class="form-control" name="prod_name" ng-minlength="3" ng-model="prod.addName" required/>
			  </div>
			  <button class="btn btn-default" ng-disabled="addProdForm.$invalid">Add</button>
			</form>
	      </div>
	      <div class="modal-footer">
	        
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal for Adding Product-->
	<div class="modal fade addmodal" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Add New {{selected_line_name}}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	         <form name="newProduct" ng-submit="addProd()">
			  <div class="form-group">
			    <label for="product_name">Product Name:</label>
			    <input type="text" class="form-control" name="prod_name" ng-maxlength="80" ng-model="nprod.name" required/>
			  </div>
			  <div class="form-group">
			    <label for="product_desc">Product Description:</label>
			    <textarea class="form-control" rows="3"  name="product_desc" ng-model="nprod.desc" ng-minlength="8" ng-maxlength="200" required></textarea>
			  </div>
			  
			  <div class="form-group">
			    <label for="product_qty">Product Quantity:</label>
			    <input type="number" class="form-control" name="product_qty" ng-model="nprod.qty" min="1" required/>
			  </div>
			  <div class="form-group">
			    <label for="product_price">Product Price:</label>
			    <input type="number" class="form-control" name="product_price" ng-model="nprod.price" required/>
			  </div>
			  <button class="btn btn-default" ng-disabled="newProduct.$invalid">Add Product</button>
			</form>
	      </div>
	      <div class="modal-footer">
	        
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Modal for Ordering-->
	<div class="modal fade" id="orderProdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document" style="max-width: 600px;">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Add Order</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form name="placeOrders" ng-submit="addOrder()">
	      <div class="modal-body">
	      	<div style="height: 350px; overflow-y: auto; overflow-x: hidden;">
		        <table class="table">
			    <thead class="thead-dark">
			      <tr>
			        <th>Name</th>
			        <th>Qty</th>
			        <th>Price</th>
			        <th>Action</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="d in checked">
			      	<td>{{d[2]}}</td>
			      	<td><input type="number" min="1" max={{d[4]}} ng-min="1" ng-max="d[4]" ng-model="d[5]" style="width: 50%;"></td>
			      	<td>&#8369;{{d[5] * d[3]}}</td>
			      	<td><button type="button" ng-click="toggleProd(d[1])" style="color: red">X</button></td>
			      </tr>
			    </tbody>
			  </table>
			</div>
			<div><span>Total: </span><span style="margin-left; color: green;">&#8369;{{checked | sumOrders}}</span></div>
	      </div>
	      <div class="modal-footer">
	      	<div><label>Delivery Charge: </label><input type="number" ng-model="del_charge" ng-min="0" value="0"></div>
	        <button type="submit" class="btn btn-default" ng-disabled="placeOrders.$invalid">Place Order</button>
	      </div>
	  </form>
	    </div>
	  </div>
	</div>


<script type="text/javascript">
	$(document).ready(function() {
		$('.addmodal').on('hidden.bs.modal', function(){
	        $(this).find('form')[0].reset();
	     });
	});
	var app = angular.module("myApp", []);

	app.controller("myCtrl", function($scope, $http){
		
		// init variables
		$scope.selected_line;
		$scope.selected_line_name;
		$scope.checked = {};
		$scope.n  = 0;	// number of items checked
		$scope.orderTotal = 0;
		$scope.del_charge = 0;
		// get product lines
		$scope.getProductLines = function(){
			$http.get("/api/product-lines").then(function(response){
				$scope.res = response.data;
				$scope.selected_line = $scope.res[0]['id'];

				$scope.getProducts($scope.selected_line, $scope.res[0]['name']);
			});
		};
		$scope.getProductLines();
		$scope.getProducts = function(chosen, line_name){
			
			$scope.selected_line = chosen;
			$scope.selected_line_name = line_name;
			$http({
				url: "/api/products",
				method: "GET",
				params: {prod_id: chosen}
			}).then(function(response){
				$scope.product_data = response.data;
				
			});
			$scope.active = {};
			$scope.active[line_name] = 'active';
		}

		$scope.addProdLine = function(){
			
			$http({
				method: "POST",
				url: "/api/post/add-prod-line",
				data: JSON.stringify({name: $scope.prod.addName}),
				dataType: 'json',
				contentType: 'application/json'
			})
			.then(function(response){
				alert(response.data);
				if (response.data == "Success")
					$scope.getProductLines();
			});
		};

		$scope.addProd = function(){
			$scope.nprod.line_id = $scope.selected_line;
			
			$http({
				method:  "POST",
				url: "api/post/add-prod",
				data: JSON.stringify($scope.nprod),
				dataType: 'json',
				contentType: 'application/json'

			}).then(function(response){
				$scope.getProducts($scope.selected_line, $scope.selected_line_name);
				alert(response.data);
			});
		};

		$scope.toggleProd = function(id, name, unit_price, qty){
			
			var index = id.toString();
			if ($scope.checked.hasOwnProperty(index) == true)
			{
				delete $scope.checked[index];
				$scope.n -= 1;
			}
			else
			{

				// [checker, product_id, name, unit price of product, qty available, quantity to order]
				$scope.checked[index] = [true, id, name, unit_price, qty, 1];
				$scope.n += 1;
			}
		}

		// place order
		$scope.addOrder = function(){
			
			// build Order JSON object
			var toOrder = {};
			toOrder.del_charge = $scope.del_charge;
			
			toOrder.orders = [];
			for (var k in $scope.checked){
				var d = $scope.checked;
				var tmp = {};
				tmp.id = d[k][1];
				tmp.qty = d[k][5];
				tmp.u_price = d[k][3];
				toOrder.orders.push(tmp);
				
			}
			
			// send data to server
			$http({
				method:  "POST",
				url: "api/post/add-order",
				data: JSON.stringify(toOrder),
				dataType: 'json',
				contentType: 'application/json'

			}).then(function(response){
				alert(response.data);
			});
		}
	}).filter('sumOrders', function(){
		return function(order_data){
			if(angular.equals(order_data, {})){
				return 0;
			}
			var total = 0;
			for (key in order_data){
				total += order_data[key][3] * order_data[key][5];
			}
			return total;
		}
	});

</script>
<% include partials/footer.ejs %>