table{
    width:100%;
    margin:auto;
}

table ,th ,td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 1px 5px;
    text-align: center;
}

th{
    -webkit-print-color-adjust: exact;
    background-color: #023d59 !important;
    color:white;

}

.maincontainer{
    padding: 10px 50px;
}

.detailcontainer > ul{
    padding: 10px 10px;
    margin: 1px;
    border-collapse: collapse;
    text-align: right;
    float:left;
}

.detailcontainer > div{
    padding: 10px 10px;
    margin: 1px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    float: center;
    font-weight: bold;
}

.lowercontainer > div{
    padding: 10px 10px;
    float: left;
}

.totalcontainer{
    width:auto;
    float:right;
    border: 0px solid transparent !important;
    border-collapse: collapse;
}

.logocontainer{
    width: 100px;
    height: 100x;
    float: left;
    margin: 0px 15px;
}

header > div{
    float: left;
}

header > ul{
    float: center;
    text-align: right;
}

header > ul a1{
    color:red;
    font-weight: bold;
}

header > ul b{
    font-weight: bold;
    font-size: 16px;
}

.headerborder{
    border-bottom: 2px dotted black;
}